.header{
  background-color: gray;
  padding: 20px;
  margin: 10px;
}
.product{
  padding: 20px;
  margin: 10px;
  width: fit-content;
  background-color: skyblue;
}
.products
{
  width: 100%;
  display: flex;
}
.img{
  max-width: 200px;

}
.btn
{
  padding: 15px 35px;
  background-color: black;
  color: white;
  font-size: 40px;
}

.data{
  background-color: lightgray;
  padding: 20px;
  width: fit-content;
  margin: 10px;
}